<div id="<%= dom_id article_reference %>">
  <p>
    <strong>Article:</strong>
    <%= article_reference.article %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= article_reference.name %>
  </p>

</div>
