<% content_for :title, "New article reference" %>

<h1>New article reference</h1>

<%= render "form", article_reference: @article_reference %>

<br>

<div>
  <%= link_to "Back to article references", article_references_path %>
</div>
